{% extends "template.html" %}

{% block script %}

<style>
    .bg-mt-img {
        height: 75vh;
        background-image: url("../static/bg-wakame.jpg");
        background-size: cover;
        background-position: center center;
        background-color: rgba(255, 255, 255, 0.8);
        background-blend-mode: lighten;
    }
</style>

<div class="text-center">
    <div class="container">
        <div class="row d-flex align-items-center bg-mt-img">
            <div class="d-none d-md-block col-md-2">

            </div>
            <div class="col-md-8">
                <h3 class="m-3">時間割検索</h3>

                <form action="/result">
                    <div class="input-group mb-3">
                        <input name="name" type="text" class="form-control" placeholder="講義名" aria-label="講義名"
                            aria-describedby="button-addon2">
                        <button formmethod="post" class="btn btn-outline-secondary" type="submit"
                            id="button-addon2">検索</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

<footer class="footer fixed-bottom">
    <div class="container text-center">
        <p class="text-muted small">
            授業のデータは<a target="_blank" href="http://syllabus.saitama-u.ac.jp/portal/public/syllabus/">シラバス</a>から取得しました(2022/11/01)
            <br>
            team 
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSetUT6_JK1C_wQ2qvrM9U2RQI_zU92asB85hyZQr8jmheCtng/viewform">
                OMNIBUS
            </a>
            が『課題探索型セミナーⅡ』で作成しました
        </p>
    </div>
</footer>

{% endblock script %}