{% extends "template.html" %}

{% block script %}

<style>
    .bg-mt-img {
        height: 80vh;
        background-image: url("../static/bg-wakame.jpg");
        background-size: cover;
        background-position: center center;
        background-color: rgba(255, 255, 255, 0.8);
        background-blend-mode: lighten;
    }
</style>

<div class="text-center">
    <div class="container">
        <div class="row d-flex align-items-center bg-mt-img">
            <div class="d-none d-md-block col-md-2">

            </div>
            <div class="col-md-8">
                <h3 class="m-3">時間割検索</h3>

                <form action="/result">
                    <div class="input-group mb-3">
                        <input name="name" type="text" class="form-control" placeholder="講義名" aria-label="講義名"
                            aria-describedby="button-addon2">
                        <button formmethod="post" class="btn btn-outline-secondary" type="submit"
                            id="button-addon2">検索</button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>

{% endblock script %}