<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="埼玉大学生のための教室検索サイトです。講義名を入力すれば開講される教室のある建物までの経路を正門、西門、東門の任意の門から案内します。" />
    <!-- アイコン -->
    <link rel="icon" href="../static/icon.png">

    <!-- BootStrap の読み込み -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% block header %}{% endblock %}
    <title>OMNI LEADER</title>
</head>

<body style="padding-top: 90px;">

    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../static/icon.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                OMNI LEADER
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/map">地図</a>
                    <a class="nav-link" href="/all">すべて表示</a>
                    <a class="nav-link" href="/room">教室名から検索</a>
                </div>
            </div>
        </div>
    </nav>

    {% block script %}{% endblock %}

    <!-- BootStrap の読み込み -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>